    <!-- ******HEADER****** -->
    <header class="header header-blog">
        <div class="container">
            <h1 class="logo">
                <a href="/blog/"><img src="/assets/img/logo_lime_go.png" width="29" height="29"> <span class="sub">Blogg</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Kategorier <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/blog-category/">Försäljning</a></li>
                                <li><a href="/blog-category/">CRM</a></li>
                                <li><a href="/blog-category/">Utveckling</a></li>
                            </ul>
                        </li><!--//dropdown-->
                        <li class="nav-item nav-item-main-site last"><a href="/index.html"><i class="fa fa-home"></i> Tillbaka till LIME Go</a></li>
                    </ul><!--//nav-->

                    <div class="searchbox-container">
                        <form class="searchbox">
                            <label class="sr-only" for="search-form">Search</label>
                            <input id="search-form" class="form-control searchbox-input" placeholder="Search the blog..." type="search" value="" name="search-form">
                            <input class="searchbox-submit" type="submit" value="GO">
                            <i class="fa fa-search searchbox-icon"></i>
                        </form>
                    </div><!--//searchbox-container-->

                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->
